{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
  Home Page
{% endblock title %}
{% block content %}
  <h1>All Post</h1>
  <a href="{% url 'feeds__addpost' %}" style="text-decoration:none;">➕ Add Post</a>
  {% for post in posts %}
    <h3>{{ post.text }}</h3>
    <div>
      <a href="{% url 'feeds__detail' post.id %}">
        {% thumbnail post.image "200x200" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
      {% endthumbnail %}
    </a>
  </div>
{% endfor %}
{% endblock content %}
